@import "./TimeSettingsContainer.scss";
@import "./SettingsToolBar.scss";
@import "./InfoTable.scss";

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.babylon-canvas{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.inspector-host{
  position: absolute !important;
}